@use "../abstracts" as *;

.no-pagination {
    --item-width: 3.2rem;
    --gap: 0.8rem;
    gap: var(--gap);
    font-size: var(--fs-body-md);
    @include flex-center();

    @include mq(md) {
        --item-width: 2.8rem;
        --gap: 0.4rem;
    }

    &__num {
        @include flex-center();
        gap: var(--gap);
        margin: 0 var(--gap);
    }

    &__link {
        @include flex-center();
        border-radius: 0.6rem;
        border: 1px solid var(--clr-gray-main);
        width: var(--item-width);
        height: var(--item-width);
        transition: var(--tran-15);

        &:hover {
            border-color: var(--clr-primary-main);
        }

        &.--active {
            background-color: var(--clr-primary-main);
            color: var(--clr-base-white);
            border-color: var(--clr-primary-main);
        }
    }

    &__arrow {
        width: var(--item-width);
        height: var(--item-width);
        @include flex-center();
        background-color: transparent;
        color: var(--clr-gray-dark);
        border: 1px solid transparent;
        transition: var(--tran-15);
        border-radius: 0.6rem;

        &:hover {
            border-color: var(--clr-primary-main);
            color: var(--clr-primary-main);
        }
    }
}
