@use "../abstracts" as *;

.no-sns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @include mq(md) {
        justify-content: flex-start;
    }

    a {
        @include flex-center();
        width: 3.2rem;
        height: 3.2rem;
        transition: var(--tran-15);
        border-radius: 50%;

        &:hover {
            box-shadow: 0 0 0 2px var(--clr-primary-main);
        }
    }
}
